<template>
  <div class="container mx-auto md:max-w-3xl px-2">
    <button @click="openModal" class="px-4 py-2 my-10 text-white bg-blue-600 rounded shadow" type="button">
      Add Task
    </button>
    
      <div class="flex flex-col">
        <input v-model="searchTask" id="color"
          class="w-full border px-4 py-2 rounded focus:border-blue-500 focus:shadow-outline outline-none h-10" type="text"
          autofocus placeholder="Search...">
        <div class="overflow-x-auto">
          <div class="mt-3 w-full inline-block align-middle">
            <div class="overflow-x-auto border rounded-lg">
              <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-gray-50">
                  <tr>
                    <th scope="col" class="px-6 py-3 text-xs font-bold text-gray-500 uppercase">
                      ID
                    </th>
                    <th scope="col" class="px-6 py-3 text-xs font-bold text-gray-500 uppercase">
                      Description
                    </th>
                    <th scope="col" class="px-6 py-3 text-xs font-bold text-gray-500 uppercase">
                      Color
                    </th>
                    <th scope="col" class="px-6 py-3 text-xs font-bold text-gray-500 uppercase">
                      priority
                    </th>
                    <th scope="col" class="px-6 py-3 text-xs font-bold text-gray-500 uppercase">
                      Date
                    </th>
                    <th scope="col" class="px-6 py-3 text-xs font-bold text-gray-500 uppercase">
                      Edit
                    </th>
                    <th scope="col" class="px-6 py-3 text-xs font-bold text-gray-500 uppercase">
                      Delete
                    </th>
                  </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                  <tr v-for="task in filteredList" :key="task?.id" data-test="todoTask">
                    <td data-test="todo" class="px-6 py-4 text-sm font-medium text-gray-800 whitespace-nowrap">
                      {{ task.id }}
                    </td>
                    <td class="px-6 py-4 text-sm font-medium text-gray-800 whitespace-nowrap">
                      {{ task.description }}
                    </td>
                    <td class="px-6 py-4 text-sm font-medium text-gray-800 whitespace-nowrap">
                      {{ task.color }}
                    </td>
                    <td class="px-6 py-4 text-sm font-medium text-gray-800 whitespace-nowrap">
                      {{ task.priority }}
                    </td>
                    <td class="px-6 py-4 text-sm font-medium text-gray-800 whitespace-nowrap">
                      {{ task.date }}
                    </td>

                    <td class="px-6 py-4 text-sm font-medium whitespace-nowrap">
                      <a class="text-green-500 hover:text-green-700 cursor-pointer" @click="editModal(task)">
                        Edit
                      </a>
                    </td>
                    <td class="px-6 py-4 text-sm font-medium whitespace-nowrap">
                      <a class="text-red-500 hover:text-red-700 cursor-pointer" @click="deleteTask(task?.id)">
                        Delete
                      </a>
                    </td>
                  </tr>
                  <tr v-show="!filteredList.length">
                    <td colspan="7" class="text-center py-3">
                      <span class="px-4 py-2 w-full text-center m-auto">No data yet !</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div v-show="isModalOpen" class="absolute inset-0 flex items-center justify-center bg-gray-700 bg-opacity-50">
        <div class="max-w-4xl mx-4 bg-white rounded-md shadow-xl">
          <div class="flex items-center justify-between bg-gray-100 p-4 rounded-md rounded-b-none">
            <h5 class="text-2xl font-bold">{{ editmode ? 'Edit' : 'Create' }} Task</h5>
          </div>
          <div class="mt-2 p-4">
            <div>
              <div class="mb-3 px-2 w-full text-left">
                <label class="mb-1 text-sm font-semibold mb-3" for="Description">Description:</label>
                <textarea v-model="taskModel.description" id="Description"
                  class="w-full border px-4 py-2 rounded focus:border-blue-500 focus:shadow-outline outline-none"
                  type="text" autofocus placeholder="Description..."></textarea>
              </div>
              <div class="mb-3 px-2 w-full text-left">
                <label class="mb-1 text-sm font-semibold mb-3" for="priority">Date:</label>
                <input v-model="taskModel.date" id="date"
                  class="w-full border px-4 py-2 rounded focus:border-blue-500 focus:shadow-outline outline-none"
                  type="date" autofocus placeholder="Date...">
              </div>
              <div class="flex">
                  <div class="col-6 mb-3 px-2 w-full text-left">
                  <label class="mb-1 text-sm font-semibold mb-3" for="priority">Priority:</label>
                  <input v-model="taskModel.priority" id="color"
                    class="w-full border px-4 py-2 rounded focus:border-blue-500 focus:shadow-outline outline-none"
                    type="number" autofocus placeholder="Priority...">
                </div>
                <div class="col-6 mb-3 px-2 w-full text-left">
                  <label class="mb-1 text-sm font-semibold mb-3" for="color">Color:</label>
                  <input v-model="taskModel.color" id="color"
                    class="w-full border px-4 py-2 rounded focus:border-blue-500 focus:shadow-outline outline-none h-10"
                    type="color" autofocus placeholder="Color...">
                </div>
                </div>
            </div>
            <div class="mt-8">
              <button @click="isModalOpen = false" class="px-6 py-2 text-blue-800 border border-blue-600 rounded w-32">
                Cancel
              </button>
              <button @click="editmode ? updateTaskEvent() : addTaskEvent()"
                class="px-6 py-2 ml-2 text-blue-100 bg-blue-600 rounded border border-blue-600 w-32">
                Save
              </button>
            </div>
           
          </div>
        </div>
      </div>
   
  </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";

/* getting current date to set default  */
const today = new Date();
let month = today.getMonth() + 1;
month = month > 9 ? month : `0${month}`;
let day = today.getDate();
day = day > 9 ? day : `0${day}`
const date = `${today.getFullYear()}-${month}-${day}`;


export default {

  components: {

  },
  computed: {
    /* getting all getters from Vuex Store */
    ...mapGetters(['selectedTask']),
    ...mapGetters(['allTasks']),

    /* filter tasks based on description */
    filteredList() {
      return this.allTasks.filter(task => {
        return this.searchTask ? task?.description?.toLowerCase().includes(this.searchTask.toLowerCase()) : this.allTasks
      })
    }
  },
  data() {
    return {
      taskModel: {
        description: '',
        color: '',
        priority: '',
        date: ''
      },
      editmode: false,
      isModalOpen: false,
      searchTask: ''
    }
  },
  methods: {
    /* Vuex methods */
    ...mapActions(['addTask', 'updateTask', 'deleteTask']),

    /* following method adding new task */
    addTaskEvent() {
      if(!this.taskModel.description){
        alert('Please add description');
        return null;
      }
      const task = { ...this.taskModel, id: Math.ceil(Math.random() * 100) };
      this.addTask(task);
      this.isModalOpen = false;
    },

    /* following method updating new task */
    updateTaskEvent() {
      this.updateTask(this.taskModel);
      this.isModalOpen = false;
    },

    /* following method opens the modal to add new task */
    openModal() {
      this.taskModel = {color : '#000000', date: date};
      this.isModalOpen = true;
      this.editmode = false;
    },

    /* following method opens the modal to edit existing task */
    editModal(task) {
      this.editmode = true;
      this.isModalOpen = true;
      this.taskModel = { ...task }
    }
  },
};
</script>

<style scoped>
</style>