<template>
  <div id="app">
    <taskCrud />
  </div>
</template>

<script>
import taskCrud from './components/taskCrud.vue';
import store from './store'
export default {
  name: 'App',
  store,
  components: {
    taskCrud,
},
created: () => {
  const data = JSON.parse(localStorage.getItem('tasksList'));
  if (data) {
    store.commit('updateState', data)
  }
}
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
